<!DOCTYPE html>
<html>
  <body style="background: #000;">
      <meta charset="UTF-8">
      <title>Home</title>
    <!-- <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </body>
  <body>
  <h1> Sherman Gallery Tools </h1>
  <uo>
    <li> <a href = "/frame"> Frame Price</a> </li>
    <li> <a href = "/quote"> Full Quote </a> </li>
    <li> <a href = "/test"> Better Template </a> </li>
  </uo>
  </body>
</html>